<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="../xsl/model-data-dalc.xsl" output-file="../common/_generated_data-dalc.xml.config"?>
<model xmlns="urn:schemas-nreco:data:dalc:v2">

	<db-dalc name="db">
		<driver>
			<sqlite>
				<connection>
					<string>Data Source=c:/temp/db.sqlite;FailIfMissing=false;Pooling=False;</string>
				</connection>
			</sqlite>
		</driver>
		<dataviews>
			<view name="users_view">
				<fields>
					<select>u.*, c.name as country_name</select>
					<mapping>
						<field name="id">u.id</field>
						<field name="country_name">c.name</field>
					</mapping>
				</fields>
				<origin>users.u</origin>
				<sql>
					SELECT @SqlFields
					FROM users u
					LEFT JOIN lookup_countries c ON (c.id=u.country_id)
					@SqlWhere[where {0}]
					@SqlOrderBy[order by {0}]
				</sql>
			</view>

		</dataviews>
		<triggers>
			<!--trace/-->
		</triggers>
	</db-dalc>

	<datarow-mapper name="dbDataRowMapper" dalc="db" datasetfactory="dataSetFactory"/>

	<provider name="getAllUsers" dalc="db" result="recordlist">
		<relex>
			users_view[*;country_name]
		</relex>
	</provider>

	<provider name="getUsaUsersCount" dalc="db" result="value">
		<relex>users(country_id="1":int32)[count(*)]</relex>
	</provider>

</model>
