<?xml version="1.0" encoding="utf-8" ?>
<components xmlns='urn:schemas-nicnet:ioc:v2'>

	<!-- lets include global common definitions -->
	<xi:include href="../common/*.xml.config" xpointer="xmlns(ioc=urn:schemas-nicnet:ioc:v2)xpointer(/root/ioc:components/ioc:*)"
		xmlns:xi="http://www.w3.org/2003/XInclude"/>
	
	<component name='eventBroker' type='NReco.Application.EventBroker,NReco.Application' singleton='true'/>
	
	<component name='labelGlobalResourceFilter' type='NReco.Application.Web.LabelGlobalResourceFilter,NReco.Application' singleton='true' lazy-init='true'>
		<property name="Rules">
			<list>
				<entry>
					<component type="NReco.Application.Web.LabelGlobalResourceFilter+DefaultRule,NReco.Application" singleton="false">
						<property name="ClassKey"><value>Default</value></property>
					</component>
				</entry>	
			</list>
		</property>
	</component>	
	
</components>
