<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="../xsl/model-webforms-layout.xsl" output-base-path="../../templates/generated/" output-file="*"?>
<model xmlns="urn:schemas-nreco:webforms:layout:v2">

	<views>

		<view name="BookList">

			<updatepanel>
				<list datakey="id" add="true" edit="true">
					<datasource>
						<dalc from="dsDalc" tablename="books" id="bookDS">
							<relation name="author_ids" datakeyname="id">
								<mapper table="book_to_author" fromfield="book_id" tofield="author_id"/>
							</relation>
						</dalc>
					</datasource>

					<field name="title" caption="Title">
						<editor>
							<textbox/>
							<validators>
								<required/>
							</validators>
						</editor>
					</field>

					<field name="description" caption="Description">
						<editor>
							<textarea rows="3"/>
						</editor>
					</field>

					<field name="rating" caption="Rating">
						<editor>
							<textbox datatype="integer" empty-is-null="true" suffix=" stars"/>
						</editor>
					</field>

					<field name="available" caption="Avail?">
						<editor>
							<checkbox/>
						</editor>
					</field>

					<field name="author_ids" caption="Authors">
						<renderer>
							<expression><code>DataBinder.Eval(Container.DataItem, "author_ids.Length")</code></expression>
						</renderer>
						<editor>
							<checkboxlist>
								<lookup name="getAuthorsList" text="name" value="id" group="sex"/>
							</checkboxlist>
						</editor>
					</field>

					<field name="country_id" caption="Country">
						<editor>
							<dropdownlist>
								<lookup name="getCountriesList" text="name" value="id"/>
								<notselected text="-- not selected --"/>
							</dropdownlist>
						</editor>
					</field>

					<field name="city_id" caption="City">
						<editor>
							<radiobuttonlist>
								<lookup name="getCitiesByCountryList" text="name" value="id">
									<control name="country_id"/>
								</lookup>
								<notselected text="-- not selected --"/>
							</radiobuttonlist>
						</editor>
					</field>


					<field edit="false" add="false">
						<renderer>
							<linkbutton command="Edit" caption="Edit" validate="true"/>
							<linkbutton command="Delete" caption="Delete"/>
						</renderer>
					</field>

					<field view="false" edit="false">
						<renderer>
							<linkbutton command="Insert" caption="Add" validate="true"/>
						</renderer>
					</field>

					<field view="false" add="false">
						<renderer>
							<linkbutton command="Update" caption="Save" validate="true"/>
							<linkbutton command="Cancel" caption="Cancel" validate="true"/>
						</renderer>
					</field>					

				</list>
			</updatepanel>

		</view>

		<view name="BookForm">
			<updatepanel>
				<form datakey="id" view="false" add="true">
					<datasource>
						<dalc from="dsDalc" tablename="books" id="bookFormDS">
							<condition>id="1":int32</condition>
							<relation name="author_ids" datakeyname="id">
								<mapper table="book_to_author" fromfield="book_id" tofield="author_id"/>
							</relation>
						</dalc>					
					</datasource>

					<field name="title" caption="Title">
						<editor>
							<textbox/>
							<validators>
								<required/>
							</validators>
						</editor>
					</field>

					<field name="description" caption="Description">
						<editor>
							<textarea rows="3"/>
						</editor>
					</field>

					<field name="rating" caption="Rating">
						<editor>
							<textbox datatype="integer" empty-is-null="true" suffix=" stars"/>
						</editor>
					</field>

					<field name="available" caption="Avail?">
						<editor>
							<checkbox/>
						</editor>
					</field>

					<field name="author_ids" caption="Authors">
						<renderer>
							<expression>
								<code>DataBinder.Eval(Container.DataItem, "author_ids.Length")</code>
							</expression>
						</renderer>
						<editor>
							<checkboxlist>
								<lookup name="getAuthorsList" text="name" value="id" group="sex"/>
							</checkboxlist>
						</editor>
					</field>

					<field name="country_id" caption="Country">
						<editor>
							<dropdownlist>
								<lookup name="getCountriesList" text="name" value="id"/>
								<notselected text="- not selected -"/>
							</dropdownlist>
						</editor>
					</field>

					<field name="city_id" caption="City">
						<editor>
							<dropdownlist>
								<lookup name="getCitiesByCountryList" text="name" value="id">
									<control name="country_id"/>
								</lookup>
								<notselected text="- not selected -"/>
							</dropdownlist>
						</editor>
					</field>

					<footer add="false" view="false">
						<linkbutton caption="Submit" command="Update" validate="true"/>
					</footer>

					<footer add="true" edit="false" view="false">
						<linkbutton caption="Submit" command="Insert" validate="true"/>
					</footer>

				</form>
			</updatepanel>
		</view>

	</views>

	<settings>
		<services>
			<datasetfactory name="dsFactory"/>
		</services>
		<list>
			<styles>
				<listtable class="table" pagerrowclass="pagerrow"/>
			</styles>
		</list>
		<form>
			<styles>
				<table class="table FormView"/>
			</styles>
		</form>
	</settings>

</model>
