<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="../xsl/model-webforms-layout.xsl" output-base-path="../../templates/generated/" output-file="*"?>
<model xmlns="urn:schemas-nreco:webforms:layout:v2">

	<views>

		<view name="BookList">

			<updatepanel>
				<list datakey="id" add="true" edit="true">
					<datasource>
						<dalc from="dsDalc" tablename="books" id="bookDS"/>
					</datasource>

					<field name="title" caption="Title">
						<editor>
							<textbox/>
						</editor>
					</field>

					<field edit="false" add="false">
						<renderer>
							<linkbutton command="Edit" caption="Edit"/>
							<linkbutton command="Delete" caption="Delete"/>
						</renderer>
					</field>

					<field view="false" edit="false">
						<renderer>
							<linkbutton command="Insert" caption="Add"/>
						</renderer>
					</field>

					<field view="false" add="false">
						<renderer>
							<linkbutton command="Update" caption="Save" validate="true"/>
							<linkbutton command="Cancel" caption="Cancel" validate="true"/>
						</renderer>
					</field>					

				</list>
			</updatepanel>
			
		</view>
	</views>

	<settings>
		
	</settings>

</model>
