/build
/src/*.suo
/src/*/bin/*/*.*
/src/*/obj/*/*.*
/src/*/*.user
/tools/*/bin/*/*.*
/tools/*/obj/*/*.*
/src/packages

/examples/*.user
/examples/*.suo
/examples/*/bin/*.*
/examples/*/obj/*.*
/examples/*/bin/*/*.*
/examples/*/obj/*/*.*
/examples/*/*.user
/examples/packages

/examples/NReco.Examples.EmptyWebForms/config/testModel.xml.config
