build
/src/*.user
/src/*.suo
/src/*/bin/*/*.*
/src/*/obj/*/*.*
/tools/*/bin/*/*.*
/tools/*/obj/*/*.*
/src/packages

/examples/*.user
/examples/*.suo
/examples/*/bin/*.*
/examples/*/obj/*.*
/examples/*/bin/*/*.*
/examples/*/obj/*/*.*
