<configuration>
	<configSections>
		<section name="components" type="NReco.Winter.WinterConfigSectionHandler,NReco.Winter"/>
	</configSections>

	<appSettings>
	</appSettings>

	<system.diagnostics>
		<switches>
			<add name="NReco.Logging.TraceLogger.DebugInfo" value="0"/>
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="NReco.Transform.Tool.ConsoleTraceListener,NReco.Transform.Tool">
					<filter type="System.Diagnostics.EventTypeFilter" initializeData="Information"/>
				</add>
			</listeners>
		</trace>
	</system.diagnostics>


	<components>

		<component name="folderRuleProcessor" type="NReco.Transform.Tool.LocalFolderRuleProcessor" singleton="true">
			<property name="Rules">
				<list>
					<entry>
						<component type="NReco.Transform.ModifyTextFileRule" singleton="false">
						</component>
					</entry>
					<entry>
						<component type="NReco.Transform.ModifyXmlFileRule" singleton="false">
						</component>
					</entry>
					<entry>
						<component type="NReco.Transform.XslTransformFileRule" singleton="false">
							<constructor-arg index="0">
								<component type="NReco.Transform.XslTransformRule" singleton="false"/>
							</constructor-arg>
						</component>
					</entry>
				</list>
			</property>
		</component>

	</components>

</configuration>
