body {
	margin: 0px;
	padding: 10px;
}
body.IframeBg {
	background-color: #FFFFFF;
}
form {
	margin: 0px;
	padding: 0px;
}
table {
	border-collapse: collapse;
	clear: both;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 24px;
	color: #CC6633;
	background-color: #FFF;
	margin-bottom: 10px;
}
h2 {
	color: #666666;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
}
ul, ol {
	margin:0 0 0 0;
}
input, select, textarea {
	font-family: Tahoma;
	font-size: 8pt;
}
textarea {
	width: 100%;
}
input[type="text"], input.text {
	width: 200px;
	height: auto;
}
input.WideText {
	width: 290px;
	height: auto;
}
input.ShortText {
	width: 20px;
	height: auto;
}
a img {
	border: none;
}
p,td,div,th {
	font-family: Tahoma;
	font-size: 12px;
}
label {
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
small {
	font-size: 10px;
	color: #666666;
	line-height: 10px;
}
input.dateInput {
	width: 99px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.clear {
	clear: both;
}
.loading {
	cursor: default !important;
	opacity: .35; filter:Alpha(Opacity=35);
}

table.mainTbl {
width: 100%;
}

	table.mainTbl td {
	vertical-align: top;
	}
	
	table.mainTbl td.siteNavMenuContaner {
	width: 230px;
	}
	
		table.mainTbl td table td {
		vertical-align: middle;
		}
		
/* form view */
table.FormView {
	width: 100%;
}
table.FormView tr.horizontal th {
	text-align: right;
	width: 30%;
	padding-right: 5px;
	padding-top:3px;
	padding-bottom:3px;
}
table.FormView tr.horizontal th, table.FormView tr.horizontal td, table.FormView tr.vertical td {
	border-bottom:1px solid #E4E8ED;
}
table.FormView tr.horizontal td {
	text-align: left;
	width: 70%;
}
table.FormView tr.vertical th {
	text-align: left;
	padding-left: 5px;
	padding-top:3px;
	padding-bottom:3px;
	background-color:#E4E8ED;
}
table.FormView tr.vertical td {
	text-align: left;
	padding:5px;
}
table.FormView tr.vertical th span.required, table.FormView tr.horizontal th span.required {
	color:red;
}
table.FormView tr.formheader td, table.FormView tr.formfooter td {
	padding-left: 5px;
	padding-top:3px;
	padding-bottom:3px;	
}
table.FormView tr.formheader td {
	border-bottom:1px solid #E8E8E8;
}
	/* list in form view */
	table.FormView table.listView th {
		text-align:left;
	}
	
	table.FormView .SingleFileEditor .preview {
		border: 1px solid;
		background: #FFFFFF;
		z-index:1000;
	}	

table.LoginForm  td a, table.RegisterForm  input.button {
	display: block;
	border: 1px solid #CCCCCC;
	padding: 4px 10px 4px 31px;
	text-decoration: none;
	color: black;
	margin: 3px 3px 3px 0px;
	font-size: 12px;
	background-color: #ffffff;
}
table.LoginForm  td, table.RegisterForm td {
	padding: 2px;
}

.toolboxContainer {
	text-align: left;
	height:30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display:block;
}

	.toolboxContainer input {
	background-color: #ffffff;
	border: 1px inset #CCCCCC;
	text-decoration: none;
	color: black;
	margin: 3px 3px 3px 5px;
	padding: 4px;
	}
	
	.toolboxContainer select {
	margin: 6px 6px 0px 0px;
	}
	
	.toolboxContainer span {
		display: block;
		float: left;
	}
	
		.toolboxContainer span span {
			/*display:inline;*/
			margin-top: 7px;
			margin-left: 2px;
			float:left;
		}
	
		.toolboxContainer span a {
			display: block;
			border: 1px solid #CCCCCC;
			padding: 4px 10px 4px 20px;
			text-decoration: none;
			color: black;
			margin: 3px 3px 3px 0px;
			font-size: 12px;
			background-color: #ffffff;
		}
		
		.toolboxContainer  span a,
		.toolboxContainer  span a:focus {
		outline: none;
		background-color: white !important;
		}
		
		.toolboxContainer  span a:hover {
		border:1px solid #666666;
		}
		
		.toolboxContainer  span a:active {
		text-decoration: none;
		color: white;
		background-color:#FC9B10 !important;
		}
		
			.toolboxContainer span.Blank a {
			padding: 4px 10px 4px 10px;
			}
			
			
			.toolboxContainer span.LogIn {
			float: right;
			}
			
fieldset {
border: solid 1px #8495A8;
padding: 7px;
}

	fieldset legend {
	color:#000000;
	font-family:Tahoma;
	font-size:14px;
	font-weight:bold;
	padding-left: 5px;
	padding-right: 5px;
	}
	
.siteNavPath {
font-size:10px;
margin:2px 2px 10px;
padding:5px 5px 5px 14px;
position: relative;
}

	.siteNavPath a {
	color: #666666;
	}
	
		.siteNavPath span.logoutContainer a {
		position: absolute;
		right: 10px;
		}

/* page status */
.pageStatus.normal {
	border:1px solid #CFBB4D;
	margin: 2px;
	padding: 10px;
	padding-left: 34px;
}

.pageStatus.error {
	border:1px solid #E50000;
	margin: 2px;
	padding: 10px;
	padding-left: 34px;
}

/* simple table */
table.listView {
	background-color: #FFFFFF;
	width: 100%;
}

	table.listView th {
		border-bottom:medium none;
		color:#FFFFFF;
		font-size:11px;
		font-weight:bold;
		padding:6px 6px 6px 10px;
		text-align:left;
		text-transform:capitalize;
		vertical-align:top;
	}
	
		table.listView th a {
		color:#FFFFFF;
		}
	
	table.listView td.listcell {
		background:none;
		font-weight:normal;
		padding:6px 5px 5px 10px;
		color:#000000;
		text-align:left;
		vertical-align:top;
	}
	
		table.listView td a {
		color: #0A50A1;
		}
	
	table.listView tr.pager span {
		color:#000000;
		font-weight:bold;
	}
	
	table.listView .listview.groupentry {
		float:left;
		position:relative;
	}
	
		table.listView .listview.groupentry .caption {
			font-size:11px;
			font-weight:bold;
			display:block;
		}
	

.listViewFilter {
	margin-bottom: 5px;
	padding: 5px;
}
	.listViewFilter .listViewFilterField {
		float:left;
		margin-right:5px;
	}
		.listViewFilter .listViewFilterField .caption {
			font-size: 8pt;
			margin-bottom: 1px;
		}
		
		.listViewFilter .listViewFilterField input, .listViewFilter .listViewFilterField select {
			font-size: 10px;
			height: 20px;
		}

	
/*widgets*/
.ui-widget-header.listview, .ui-widget-header.formview, .ui-widget-header.userinfo, .ui-widget-header.vfsmanagerview {
	border-bottom:0px;
}

.ui-widget-header .nreco-widget-header {
		text-align:center;
		padding: 3px;
}
.ui-widget-content .nreco-widget-content {
}
.ui-widget-content.listview .nreco-widget-content {
	padding: 10px;
}
.ui-widget-content.vfsmanagerview .nreco-widget-content {
	padding: 10px;
}
.ui-widget-content.userinfo {
	padding: 10px;
	margin-bottom: 10px;
}


.adminNavigation {
}
	.adminNavigation table {
		width:100%;
	}
	.adminNavigation td {
		border-bottom: 1px solid #CCC;
	}
	.adminNavigation td.node {
		align:left;
		width: 100%;
		padding-right: 20px;
	}
	.adminNavigation a {
		padding: 5px;
	}
	.adminNavigation a:link, .adminNavigation a:visited {
		color:#CC6714;
		text-decoration: none;
	}

	.adminNavigation tr:hover {
		background: #000000 url(../images/navarrow.gif) 96% 50% no-repeat;
		background-color: #F5F5F5;
		color:#CC6714;
	}
