<?xml version="1.0" encoding="utf-8" ?>
<components xmlns='urn:schemas-nicnet:ioc:v2'>

	<component name='componentFactory' type='NI.Ioc.ComponentFactoryContext,NI.Ioc' singleton='true'/>
	
	<component name='eventBroker' type='NReco.Application.EventBroker,NReco.Application' singleton='true'/>

	<component name='dbConnectionString' type='NReco.Examples.DataMvc.Data.ConnectionString' singleton='true' lazy-init='true'>
		<property name='ConnectionStringTemplate'><value>Data Source={0}/nreco_examples_datamvc_db.sqlite;FailIfMissing=false;Pooling=False;</value></property>
	</component>

</components>
