<components>
<!-- place your includes here -->
	<component name="aaa" type="NReco.Providers.ConstProvider,NReco" singleton="false">
		<property name="Value">
			<value>111</value>
		</property>	   
	</component>

	<component name="webActionDispatcher" type="NReco.Web.ActionDispatcher" singleton="true">
		<property name="Handlers">
			<list>
				<entry>
					<component type="NReco.Web.ActionHandlers.ControlTreeHandler,NReco.Web" singleton="false"/>
				</entry>
			</list>		  
		</property>
		
	</component>
	
</components>