<?xml version="1.0" encoding="utf-8" ?>
<components xmlns='urn:schemas-nicnet:ioc:v2'>

	<component name='dsDalc' type='NI.Data.DataSetDalc' lazy-init='true' singleton='true'/>
	
	<component name='dsFactory' type='NI.Data.DataSetFactory' lazy-init='true' singleton='true'/>

	<component name='getAuthorsList' type='NI.Ioc.ReplacingFactory' singleton='false'>
		<property name='TargetObject'><ref name='authors' method='GetAll'/></property>
	</component>

	<component name='getCountriesList' type='NI.Ioc.ReplacingFactory' singleton='false'>
		<property name='TargetObject'>
			<ref name='authors' method='GetAllCountries'/>
		</property>
	</component>

	<component name='getCitiesByCountryList' type='NI.Ioc.ReplacingFactory' singleton='false'>
		<property name='TargetObject'>
			<ref name='authors' method='GetCitiesByCountry'/>
		</property>
	</component>


	<component name='authors' type='NReco.Examples.CrudWebForms.Authors' singleton='true'>
	</component>

</components>
