<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
		<section name="containerConfiguration" type="NReco.Application.Ioc.XmlComponentConfigurationSectionHandler,NReco.Application"/>
	</configSections>

	<containerConfiguration>
		<components xmlns='urn:schemas-nicnet:ioc:v2'>
			
			<xi:include href="config/**/*.xml.config" xpointer="xmlns(ioc=urn:schemas-nicnet:ioc:v2)xpointer(/root/ioc:components/ioc:*)"
				xmlns:xi="http://www.w3.org/2003/XInclude"/>

			<xi:include href="config/*.xml.config" xpointer="xmlns(ioc=urn:schemas-nicnet:ioc:v2)xpointer(/root/ioc:components/ioc:*)"
				xmlns:xi="http://www.w3.org/2003/XInclude"/>
		</components>		
		
	</containerConfiguration>

	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="App_Data/tracelog.txt"/>
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
			<appendToFile value="true"/>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %level %logger - %message%newline"/>
			</layout>
		</appender>
		<root>
			<level value="Debug"/>
			<appender-ref ref="FileAppender"/>
		</root>
	</log4net>

	<system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>

	<system.webServer>
		<modules>
			<add type="NReco.Application.Web.AppContextModule,NReco.Application" name="AppContextModule" />
		</modules>
	</system.webServer>
</configuration>