<configuration>
	<configSections>
		<section name="components" type="NReco.Winter.WinterConfigSectionHandler,NReco.Winter"/>
		<section name="nreco.converters" type="NReco.Converters.ConvertManagerCfgHandler,NReco"/>
		<section name="nreco.web" type="NReco.Web.WebManagerCfgHandler,NReco.Web"/>
	</configSections>
	<nreco.converting>
		<converter>NReco.Winter.Converting.NiOperationConverter,NReco.Winter</converter>
		<converter>NReco.Winter.Converting.NiProviderConverter,NReco.Winter</converter>
		<converter>NReco.Winter.Converting.NiExprResolverConverter,NReco.Winter</converter>
	</nreco.converting>
	<nreco.web>
		<ActionDispatcherName>webActionDispatcher</ActionDispatcherName>
	</nreco.web>

	<components>
		<xi:include xmlns:xi="http://www.w3.org/2003/XInclude"
			href="config/web/*.xml.config"
			xpointer="xpointer(/root/components/*)"/>
	</components>

	<system.diagnostics/>

	<appSettings>

	</appSettings>

	<connectionStrings>
			
	</connectionStrings>


	<system.web>
		<httpHandlers>

		</httpHandlers>

		<compilation
				 defaultLanguage="c#"
				 debug="true">
			<expressionBuilders>
				<add expressionPrefix="service" type="NReco.Web.ServiceExpressionBuilder,NReco.Web"/>
			</expressionBuilders>
		</compilation>

		<customErrors defaultRedirect="error.aspx" mode="RemoteOnly">
			<!--error StatusCode="404" redirect="error404.aspx"/-->
		</customErrors>

		<pages validateRequest="false">
			<controls>
				<add tagPrefix="NReco" namespace="NReco.Web" assembly="NReco.Web"/>
			</controls>
			<namespaces>
				<add namespace="NReco" />
				<add namespace="NReco.Web" />
			</namespaces>
		</pages>

		<authentication mode="None">
			<forms timeout="60" loginUrl="Login.aspx" name=".auth"/>
		</authentication>

		<authorization>
		</authorization>


		<trace
		enabled="false"
		requestLimit="10"
		pageOutput="false"
		traceMode="SortByTime"
		localOnly="true"
	    />

		<sessionState
						mode="InProc"
						stateConnectionString="tcpip=127.0.0.1:42424"
						sqlConnectionString="data source=127.0.0.1;user id=sa;password="
						cookieless="false"
						timeout="60">
		</sessionState>

		<globalization
	            requestEncoding="utf-8"
	            responseEncoding="utf-8"></globalization>


		<httpModules>
		</httpModules>


	</system.web>

	<location path="config">
		<system.web>
			<authorization>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>

</configuration>
