<?xml version="1.0" encoding="utf-8" ?>
<components xmlns='urn:schemas-nicnet:ioc:v2'>
	
	<component name="mainFilesystem" type="NI.Vfs.LocalFileSystem,NI.Vfs" singleton="true" lazy-init="true">
		<property name="RootFolder">
			<ref name="mainFilesystemRoot"/>
		</property>
	</component>

	<component name="mainFilesystemRoot" type="NI.Ioc.StaticMethodInvokingFactory" singleton="true" lazy-init="true">
		<property name="TargetMethod"><value>ResolveWebAppLocalPath</value></property>
		<property name="TargetType"><type>NReco.Dsm.WebForms.Vfs.VfsHelper</type></property>
    <property name="TargetMethodArgTypes">
        <list>
            <entry><type>System.String,Mscorlib</type></entry>        
        </list>
    </property>
    <property name="TargetMethodArgs">
        <list>
            <entry><value>~/App_Data/mainFilesystem/</value></entry>          
        </list>
    </property>		
	</component>

	<component name="fileImageUtils" type="NReco.Dsm.WebForms.Vfs.ImageUtils,NReco.Dsm.WebForms.Vfs" singleton="true" lazy-init="true">
	</component>
	
	<component name="blockedUploadFileExtensions" type="NI.Ioc.ReplacingFactory" singleton="true" lazy-init="true">
		<property name="TargetObject">
			<list>
				<entry><value>.exe</value></entry>
				<entry><value>.dll</value></entry>
				<entry><value>.com</value></entry>
				<entry><value>.bat</value></entry>
			</list>
		</property>
	</component>

	<component name="fileExtensionContentTypes" type="NI.Ioc.ReplacingFactory" singleton="true" lazy-init="true">
		<property name="TargetObject">
			<map>
				<entry key=".swf"><value>application/x-shockwave-flash</value></entry>
				<entry key=".323"><value>text/h323</value></entry>
				<entry key=".acx"><value>application/internet-property-stream</value></entry>
				<entry key=".ai"><value>application/postscript</value></entry>
				<entry key=".aif"><value>audio/x-aiff</value></entry>
				<entry key=".aifc"><value>audio/x-aiff</value></entry>
				<entry key=".aiff"><value>audio/x-aiff</value></entry>
				<entry key=".asf"><value>video/x-ms-asf</value></entry>
				<entry key=".asr"><value>video/x-ms-asf</value></entry>
				<entry key=".asx"><value>video/x-ms-asf</value></entry>
				<entry key=".au"><value>audio/basic</value></entry>
				<entry key=".avi"><value>video/x-msvideo</value></entry>
				<entry key=".axs"><value>application/olescript</value></entry>
				<entry key=".bas"><value>text/plain</value></entry>
				<entry key=".bcpio"><value>application/x-bcpio</value></entry>
				<entry key=".bin"><value>application/octet-stream</value></entry>
				<entry key=".bmp"><value>image/bmp</value></entry>
				<entry key=".c"><value>text/plain</value></entry>
				<entry key=".cat"><value>application/vnd.ms-pkiseccat</value></entry>
				<entry key=".cdf"><value>application/x-cdf</value></entry>
				<entry key=".cer"><value>application/x-x509-ca-cert</value></entry>
				<entry key=".class"><value>application/octet-stream</value></entry>
				<entry key=".clp"><value>application/x-msclip</value></entry>
				<entry key=".cmx"><value>image/x-cmx</value></entry>
				<entry key=".cod"><value>image/cis-cod</value></entry>
				<entry key=".cpio"><value>application/x-cpio</value></entry>
				<entry key=".crd"><value>application/x-mscardfile</value></entry>
				<entry key=".crl"><value>application/pkix-crl</value></entry>
				<entry key=".crt"><value>application/x-x509-ca-cert</value></entry>
				<entry key=".csh"><value>application/x-csh</value></entry>
				<entry key=".css"><value>text/css</value></entry>
				<entry key=".dcr"><value>application/x-director</value></entry>
				<entry key=".der"><value>application/x-x509-ca-cert</value></entry>
				<entry key=".dir"><value>application/x-director</value></entry>
				<entry key=".dll"><value>application/x-msdownload</value></entry>
				<entry key=".dms"><value>application/octet-stream</value></entry>
				<entry key=".doc"><value>application/msword</value></entry>
				<entry key=".docx"><value>application/vnd.openxmlformats-officedocument.wordprocessingml.document</value></entry>
				<entry key=".dot"><value>application/msword</value></entry>
				<entry key=".dotx"><value>application/vnd.openxmlformats-officedocument.wordprocessingml.template</value></entry>
				<entry key=".dvi"><value>application/x-dvi</value></entry>
				<entry key=".dxr"><value>application/x-director</value></entry>
				<entry key=".eps"><value>application/postscript</value></entry>
				<entry key=".etx"><value>text/x-setext</value></entry>
				<entry key=".evy"><value>application/envoy</value></entry>
				<entry key=".exe"><value>application/octet-stream</value></entry>
				<entry key=".fif"><value>application/fractals</value></entry>
				<entry key=".flr"><value>x-world/x-vrml</value></entry>
				<entry key=".flv"><value>video/x-flv</value></entry>
				<entry key=".gif"><value>image/gif</value></entry>
				<entry key=".gtar"><value>application/x-gtar</value></entry>
				<entry key=".gz"><value>application/x-gzip</value></entry>
				<entry key=".h"><value>text/plain</value></entry>
				<entry key=".hdf"><value>application/x-hdf</value></entry>
				<entry key=".hlp"><value>application/winhlp</value></entry>
				<entry key=".hqx"><value>application/mac-binhex40</value></entry>
				<entry key=".hta"><value>application/hta</value></entry>
				<entry key=".htc"><value>text/x-component</value></entry>
				<entry key=".htm"><value>text/html</value></entry>
				<entry key=".html"><value>text/html</value></entry>
				<entry key=".htt"><value>text/webviewhtml</value></entry>
				<entry key=".ico"><value>image/x-icon</value></entry>
				<entry key=".ief"><value>image/ief</value></entry>
				<entry key=".iii"><value>application/x-iphone</value></entry>
				<entry key=".ins"><value>application/x-internet-signup</value></entry>
				<entry key=".isp"><value>application/x-internet-signup</value></entry>
				<entry key=".jfif"><value>image/pipeg</value></entry>
				<entry key=".jpe"><value>image/jpeg</value></entry>
				<entry key=".jpeg"><value>image/jpeg</value></entry>
				<entry key=".jpg"><value>image/jpeg</value></entry>
				<entry key=".png"><value>image/png</value></entry>
				<entry key=".js"><value>application/x-javascript</value></entry>
				<entry key=".latex"><value>application/x-latex</value></entry>
				<entry key=".lha"><value>application/octet-stream</value></entry>
				<entry key=".lsf"><value>video/x-la-asf</value></entry>
				<entry key=".lsx"><value>video/x-la-asf</value></entry>
				<entry key=".lzh"><value>application/octet-stream</value></entry>
				<entry key=".m13"><value>application/x-msmediaview</value></entry>
				<entry key=".m14"><value>application/x-msmediaview</value></entry>
				<entry key=".m3u"><value>audio/x-mpegurl</value></entry>
				<entry key=".man"><value>application/x-troff-man</value></entry>
				<entry key=".mdb"><value>application/x-msaccess</value></entry>
				<entry key=".me"><value>application/x-troff-me</value></entry>
				<entry key=".mht"><value>message/rfc822</value></entry>
				<entry key=".mhtml"><value>message/rfc822</value></entry>
				<entry key=".mid"><value>audio/mid</value></entry>
				<entry key=".mny"><value>application/x-msmoney</value></entry>
				<entry key=".mov"><value>video/quicktime</value></entry>
				<entry key=".movie"><value>video/x-sgi-movie</value></entry>
				<entry key=".mp2"><value>video/mpeg</value></entry>
				<entry key=".mp3"><value>audio/mpeg</value></entry>
				<entry key=".mp4"><value>video/mp4</value></entry>
				<entry key=".mpa"><value>video/mpeg</value></entry>
				<entry key=".mpe"><value>video/mpeg</value></entry>
				<entry key=".mpeg"><value>video/mpeg</value></entry>
				<entry key=".mpg"><value>video/mpeg</value></entry>
				<entry key=".mpp"><value>application/vnd.ms-project</value></entry>
				<entry key=".mpv2"><value>video/mpeg</value></entry>
				<entry key=".ms"><value>application/x-troff-ms</value></entry>
				<entry key=".mvb"><value>application/x-msmediaview</value></entry>
				<entry key=".nws"><value>message/rfc822</value></entry>
				<entry key=".oda"><value>application/oda</value></entry>
				<entry key=".p10"><value>application/pkcs10</value></entry>
				<entry key=".p12"><value>application/x-pkcs12</value></entry>
				<entry key=".p7b"><value>application/x-pkcs7-certificates</value></entry>
				<entry key=".p7c"><value>application/x-pkcs7-mime</value></entry>
				<entry key=".p7m"><value>application/x-pkcs7-mime</value></entry>
				<entry key=".p7r"><value>application/x-pkcs7-certreqresp</value></entry>
				<entry key=".p7s"><value>application/x-pkcs7-signature</value></entry>
				<entry key=".pbm"><value>image/x-portable-bitmap</value></entry>
				<entry key=".pdf"><value>application/pdf</value></entry>
				<entry key=".pfx"><value>application/x-pkcs12</value></entry>
				<entry key=".pgm"><value>image/x-portable-graymap</value></entry>
				<entry key=".pko"><value>application/ynd.ms-pkipko</value></entry>
				<entry key=".pma"><value>application/x-perfmon</value></entry>
				<entry key=".pmc"><value>application/x-perfmon</value></entry>
				<entry key=".pml"><value>application/x-perfmon</value></entry>
				<entry key=".pmr"><value>application/x-perfmon</value></entry>
				<entry key=".pmw"><value>application/x-perfmon</value></entry>
				<entry key=".pnm"><value>image/x-portable-anymap</value></entry>
				<entry key=".pot,"><value>application/vnd.ms-powerpoint</value></entry>
				<entry key=".ppm"><value>image/x-portable-pixmap</value></entry>
				<entry key=".pps"><value>application/vnd.ms-powerpoint</value></entry>
				<entry key=".ppsx"><value>application/vnd.openxmlformats-officedocument.presentationml.slideshow</value></entry>
				<entry key=".ppt"><value>application/vnd.ms-powerpoint</value></entry>
				<entry key=".pptx"><value>application/vnd.openxmlformats-officedocument.presentationml.presentation</value></entry>
				<entry key=".prf"><value>application/pics-rules</value></entry>
				<entry key=".ps"><value>application/postscript</value></entry>
				<entry key=".pub"><value>application/x-mspublisher</value></entry>
				<entry key=".qt"><value>video/quicktime</value></entry>
				<entry key=".ra"><value>audio/x-pn-realaudio</value></entry>
				<entry key=".ram"><value>audio/x-pn-realaudio</value></entry>
				<entry key=".ras"><value>image/x-cmu-raster</value></entry>
				<entry key=".rgb"><value>image/x-rgb</value></entry>
				<entry key=".rmi"><value>audio/mid</value></entry>
				<entry key=".roff"><value>application/x-troff</value></entry>
				<entry key=".rtf"><value>application/rtf</value></entry>
				<entry key=".rtx"><value>text/richtext</value></entry>
				<entry key=".scd"><value>application/x-msschedule</value></entry>
				<entry key=".sct"><value>text/scriptlet</value></entry>
				<entry key=".setpay"><value>application/set-payment-initiation</value></entry>
				<entry key=".setreg"><value>application/set-registration-initiation</value></entry>
				<entry key=".sh"><value>application/x-sh</value></entry>
				<entry key=".shar"><value>application/x-shar</value></entry>
				<entry key=".sit"><value>application/x-stuffit</value></entry>
				<entry key=".snd"><value>audio/basic</value></entry>
				<entry key=".spc"><value>application/x-pkcs7-certificates</value></entry>
				<entry key=".spl"><value>application/futuresplash</value></entry>
				<entry key=".src"><value>application/x-wais-source</value></entry>
				<entry key=".sst"><value>application/vnd.ms-pkicertstore</value></entry>
				<entry key=".stl"><value>application/vnd.ms-pkistl</value></entry>
				<entry key=".stm"><value>text/html</value></entry>
				<entry key=".sv4cpio"><value>application/x-sv4cpio</value></entry>
				<entry key=".sv4crc"><value>application/x-sv4crc</value></entry>
				<entry key=".t"><value>application/x-troff</value></entry>
				<entry key=".tar"><value>application/x-tar</value></entry>
				<entry key=".tcl"><value>application/x-tcl</value></entry>
				<entry key=".tex"><value>application/x-tex</value></entry>
				<entry key=".texi"><value>application/x-texinfo</value></entry>
				<entry key=".texinfo"><value>application/x-texinfo</value></entry>
				<entry key=".tgz"><value>application/x-compressed</value></entry>
				<entry key=".tif"><value>image/tiff</value></entry>
				<entry key=".tiff"><value>image/tiff</value></entry>
				<entry key=".tr"><value>application/x-troff</value></entry>
				<entry key=".trm"><value>application/x-msterminal</value></entry>
				<entry key=".tsv"><value>text/tab-separated-values</value></entry>
				<entry key=".txt"><value>text/plain</value></entry>
				<entry key=".uls"><value>text/iuls</value></entry>
				<entry key=".ustar"><value>application/x-ustar</value></entry>
				<entry key=".vcf"><value>text/x-vcard</value></entry>
				<entry key=".vrml"><value>x-world/x-vrml</value></entry>
				<entry key=".wav"><value>audio/x-wav</value></entry>
				<entry key=".wcm"><value>application/vnd.ms-works</value></entry>
				<entry key=".wdb"><value>application/vnd.ms-works</value></entry>
				<entry key=".wks"><value>application/vnd.ms-works</value></entry>
				<entry key=".wmf"><value>application/x-msmetafile</value></entry>
				<entry key=".wmv"><value>video/x-ms-wmv</value></entry>
				<entry key=".wps"><value>application/vnd.ms-works</value></entry>
				<entry key=".wri"><value>application/x-mswrite</value></entry>
				<entry key=".wrl"><value>x-world/x-vrml</value></entry>
				<entry key=".wrz"><value>x-world/x-vrml</value></entry>
				<entry key=".xaf"><value>x-world/x-vrml</value></entry>
				<entry key=".xbm"><value>image/x-xbitmap</value></entry>
				<entry key=".xla"><value>application/vnd.ms-excel</value></entry>
				<entry key=".xlc"><value>application/vnd.ms-excel</value></entry>
				<entry key=".xlm"><value>application/vnd.ms-excel</value></entry>
				<entry key=".xls"><value>application/vnd.ms-excel</value></entry>
				<entry key=".xlsx"><value>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</value></entry>
				<entry key=".xlt"><value>application/vnd.ms-excel</value></entry>
				<entry key=".xltx"><value>application/vnd.openxmlformats-officedocument.spreadsheetml.template</value></entry>
				<entry key=".xlw"><value>application/vnd.ms-excel</value></entry>
				<entry key=".xof"><value>x-world/x-vrml</value></entry>
				<entry key=".xpm"><value>image/x-xpixmap</value></entry>
				<entry key=".xwd"><value>image/x-xwindowdump</value></entry>
				<entry key=".z"><value>application/x-compress</value></entry>
				<entry key=".zip"><value>application/zip</value></entry>
				<entry key=".webm"><value>video/webm</value></entry>
				<entry key=".ogv"><value>video/ogg</value></entry>
				<entry key=".oga"><value>audio/ogg</value></entry>
				<entry key=".m4v"><value>video/mp4</value></entry>
				<entry key=".3gp"><value>video/3gp</value></entry>				
			</map>
		</property>
	</component>
	
</components>
	
