<configuration>
	<configSections>
		<section name="components" type="NReco.Winter.WinterConfigSectionHandler,NReco.Winter"/>
	</configSections>

	<appSettings>
	</appSettings>

	<components>

		<xsl-transform>
			<xml file="config/modelA.xml"/>
			<xsl file="config/xsl/choose.xsl"/>
		</xsl-transform>
		

	</components>

</configuration>
