<configuration>
	<configSections>
		<section name="components" type="NReco.Winter.WinterConfigSectionHandler,NReco.Winter"/>
	</configSections>

	<appSettings>
	</appSettings>


	<system.diagnostics>
		<switches>
			<add name="NReco.Logging.TraceLogger.DebugInfo" value="0"/>
		</switches>		
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener">
					<!--filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/-->
				</add>
			</listeners>
		</trace>
	</system.diagnostics>


	<components>

		<xsl-transform>
			<xml file="config/modelA.xml"/>
			<xsl file="config/xsl/choose.xsl"/>
		</xsl-transform>
		

	</components>

</configuration>
