<configuration>
	<configSections>
		<section name="components" type="NReco.Winter.WinterConfigSectionHandler,NReco.Winter"/>

		<section name="components.ruleprocessor" type="NI.Winter.XmlComponentsConfig,NI.Winter"/>
	</configSections>

	<appSettings>
	</appSettings>


	<system.diagnostics>
		<switches>
			<add name="NReco.Logging.TraceLogger.DebugInfo" value="0"/>
		</switches>		
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener">
					<!--filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/-->
				</add>
			</listeners>
		</trace>
	</system.diagnostics>

	<!-- example how custom config rule processor can be defined -->
	<!--components.ruleprocessor>
		<component type="NReco.Winter.RuleConfigProcessor">
			<property name="Rules">
				<list>
					<entry>
						<component type="NReco.Transform.XslTransformXmlConfigRule" singleton="false"/>
					</entry>
				</list>
			</property>
		</component>
	</components.ruleprocessor-->


	<components>
		<xsl-transform>
			<xml file="config/modelA.xml"/>
			<xsl file="config/xsl/choose.xsl"/>
		</xsl-transform>
	</components>

</configuration>
