<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="../xsl/model-data-dalc.xsl" output-file="../common/_generated_data-dalc.xml.config"?>
<model xmlns="urn:schemas-nreco:data:dalc:v2">
	<db-dalc name="db">
		<driver>
			<!-- specify database driver -->
		</driver>
		<triggers>
			<datarow action="any">
				<handler name="dataSchemaDataRowTriggerHandler"/>
			</datarow>
		</triggers>
	</db-dalc>
</model>
