<?xml version="1.0" encoding="utf-8" ?>
<?xml-stylesheet type="text/xsl" href="../xsl/model-data-schema.xsl" output-file="../common/_generated_data-schema.xml.config"?>
<model xmlns="urn:schemas-nreco:data:schema:v2">

	<schema-create-sql name="dataSchemaCreateSql">
		<dialect>
			<!-- define your database dialect -->
		</dialect>
		<tables>
			<xi:include href="tables/*.xml" xpointer="xmlns(e=urn:schemas-nreco:data:schema:v2)xpointer(/root/e:*)"
					xmlns:xi="http://www.w3.org/2003/XInclude"/>
		</tables>
	</schema-create-sql>

	<dataset-factory name="dataSetFactory">
		<tables>
			<xi:include href="tables/*.xml" xpointer="xmlns(e=urn:schemas-nreco:data:schema:v2)xpointer(/root/e:*)"
					xmlns:xi="http://www.w3.org/2003/XInclude"></xi:include>
		</tables>
	</dataset-factory>

</model>
