<components>
	<description>web routing definitions</description>
	
	<component name="routes" type="NI.Winter.ReplacingFactory" singleton="true">
		<property name="TargetObject">
			<list>
				<entry>
					<component type="System.Web.Routing.Route" singleton="false">
						<constructor-arg index="0">
							<value>account1.aspx</value>
						</constructor-arg>
						<constructor-arg index="1">
							<component type="NReco.Web.Site.WebFormRouteHandler`1[[System.Web.UI.Page,System.Web]]" singleton="false">
								<constructor-arg index="0">
									<value>~/pages/site.aspx</value>
								</constructor-arg>								
							</component>
						</constructor-arg>
						<property name="DataTokens">
							<component type="System.Web.Routing.RouteValueDictionary" singleton="false">
								<constructor-arg index='0'>
									<map>
										<entry key="main"><value>~/templates/AccountList1.ascx</value></entry>
									</map>
								</constructor-arg>
							</component>
						</property>
					</component>
				</entry>
			</list>
		</property>
	</component>
</components>