<?xml version="1.0" encoding="utf-8" ?>
<components xmlns='urn:schemas-nicnet:ioc:v2'>

	<!-- lets include global common definitions -->
	<xi:include href="../common/*.xml.config" xpointer="xmlns(ioc=urn:schemas-nicnet:ioc:v2)xpointer(/root/ioc:components/ioc:*)"
		xmlns:xi="http://www.w3.org/2003/XInclude"/>

</components>
