<components>
	<!-- place your includes here -->
	
	<!-- instance of Creole Wiki Parser -->
	<component name="wikiCreoleParser" type="Wiki.CreoleParser,CreoleParser" singleton="true" lazy-init="true"/>

	<component name="accountMembershipStorage" type="NReco.Web.Site.Security.DalcUserStorage,NReco.Web.Site" singleton="true" lazy-init="true">
		<property name="Dalc"><ref name="db"/></property>
		<property name="UserSourceName"><value>accounts</value></property>
		<property name="FieldsMapping">
			<map>
				<entry key="Id"><value>id</value></entry>
				<entry key="Username"><value>username</value></entry>
				<entry key="Password"><value>password</value></entry>
				<entry key="Email"><value>email</value></entry>
				<entry key="Comment"><value>comment</value></entry>
				<entry key="PasswordQuestion"><value>password_question</value></entry>
				<entry key="PasswordAnswer"><value>password_answer</value></entry>
				<entry key="IsApproved"><value>is_approved</value></entry>
				<entry key="CreationDate"><value>creation_date</value></entry>
				<entry key="LastLoginDate"><value>last_login_date</value></entry>
				<entry key="LastActivityDate"><value>last_activity_date</value></entry>
				<entry key="LastPasswordChangeDate"><value>last_pwd_change_date</value></entry>
			</map>
		</property>
	</component>

	<component name="accountRoleStorage" type="NReco.Web.Site.Security.FixedRoleStorage,NReco.Web.Site" singleton="true" lazy-init="true">
		<property name="Roles">
			<list>
				<entry>
					<component type="NReco.Web.Site.Security.Role,NReco.Web.Site" singleton="false">
						<property name="Name"><value>admin</value></property>
					</component>
				</entry>
			</list>
		</property>
	</component>

	<component name="accountUserRoleStorage" type="NReco.Web.Site.Security.DalcUserRoleStorage,NReco.Web.Site" singleton="true" lazy-init="true">
		<property name="Dalc"><ref name="db"/></property>
		<property name="UserRoleSourceName"><value>account_roles</value></property>
		<property name="FieldsMapping">
			<map>
				<entry key="User"><value>username</value></entry>
				<entry key="Role"><value>rolename</value></entry>
			</map>
		</property>
	</component>

	

</components>