<configuration>
	<configSections>
		<section name="components" type="NReco.Winter.WinterConfigSectionHandler,NReco.Winter"/>
	</configSections>

	<appSettings>
	</appSettings>

	<system.diagnostics>
		<switches>
			<add name="NReco.Logging.TraceLogger.DebugInfo" value="0"/>
		</switches>
		<trace autoflush="true" indentsize="4">
			<listeners>
				<add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener">
					<!--filter type="System.Diagnostics.EventTypeFilter" initializeData="Error"/-->
				</add>
			</listeners>
		</trace>
	</system.diagnostics>


	<components>

		<component name="folderRuleProcessor" type="NReco.Transform.LocalFolderRuleProcessor" singleton="true">
			<property name="Rules">
				<list>
					<entry>
						<component type="NReco.Transform.XslTransformFileRule" singleton="false">
						</component>
					</entry>
					<entry>
						<component type="NReco.Transform.ModifyTextFileRule" singleton="false">
						</component>
					</entry>
				</list>
			</property>
		</component>

	</components>

</configuration>
